@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.create-blog-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $primary-black;
  padding: $padding-default * 2;
  padding-bottom: $padding-default * 4;
  height: 100%;
  width: 100%;
  &__headline {
    color: $primary-white;
    text-align: center;
    font-size: $h1-font-size;
    font-weight: $font-weight-semibold;
    line-height: $h1-line-height;
    text-align: left;
    width: 100%;
    padding-left: 16%;
  }
}
