@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.create-blog-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: $primary-black;
  padding: $padding-default;
  margin-bottom: $padding-default;
  width: 100%;
  height: 100%;
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: $gap-default;
    max-height: 100%;
    width: 40vw;
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: $gap-default * 4;
    height: 100%;
    width: 40vw;
    border-left: $divider;
    &__button {
      @include button-cta--green;
      margin-left: 45%;
    }
  }
  &__input {
    &-input {
      color: $primary-white;
      width: 100%;
      height: 100%;
      &::placeholder {
        color: $secondary-slate;
      }
    }
    &-title {
      margin: $padding-default 0;
      color: $primary-white;
    }
  }
}

.input-error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap-default;
  &__message {
    color: red;
    font-size: $p-font-medium;
    font-weight: $font-weight-semibold;
  }
}
