@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Qwigley";
  src: url("../../assets/fonts/Qwigley-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
