@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-default;
  max-width: 20vw;
  background-color: $primary-white;
  border-radius: $border-radius-default;
  padding-bottom: $padding-default;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: $border-radius-default $border-radius-default 0 0;
}

.product-title {
  color: $primary-black;
  text-align: center;
}

.product-description {
  color: $primary-black;
  text-align: center;
}

.button-green {
  @include button-cta--green;
}
