@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  display: flex;
  height: 7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-base;
  font-size: $p-font-medium;
  line-height: $p-medium-line-height;
  font-weight: $font-weight-default;
  color: $secondary-slate;
  @include tablet {
    font-size: $p-font-medium-td;
    line-height: $p-medium-line-height-td;
    height: 7vh;
    align-items: flex-end;
    padding-bottom: $padding-margin-default * 4;
  }
  @include desktop {
    font-size: $p-font-medium-td;
    line-height: $p-medium-line-height-td;
    height: 7vh;
    align-items: flex-end;
    padding-bottom: $padding-margin-default * 4;
  }
}
