@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/background-login-page.svg");
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding-default * 1.5;
    &-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../../assets/images/background-login-form.svg");
      background-size: cover;
      width: 100%;
      height: $login-form-background;
      h1 {
        color: $primary-white;
        text-align: center;
        font-family: $logo-font-family;
        font-size: $logo-font-size;
        font-weight: $logo-font-weight;
        line-height: $logo-line-height;
      }
    }
    &-background {
      border-radius: $border-radius-default;
    }
    &-container {
      border-radius: $border-radius-default;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-white;
      padding: $padding-default/2;
    }
    &-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: $padding-default/2;
      margin: $padding-default/2 auto;
      width: 100%;
      img {
        width: $icon-size;
        height: $icon-size;
      }
    }
    input:focus {
      border-color: $primary-black;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $primary-black;
      outline: 0 none;
    }
  }
}

.btn-dark {
  width: 70%;
  margin: $padding-default;
}

.input-error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $padding-default/2;
  margin: $padding-default/2 auto;
  width: 100%;
  &__icon {
    width: $icon-size/2;
    height: $icon-size/2;
  }
  p {
    margin-bottom: 0;
  }
}

.input--invalid {
  color: red;
  border-color: red;
  box-shadow: none;
  outline: 0 none;
}
