@use "../../styles/partials/global" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/background-login-page.svg");
}
